.StyledSkeleton:before {
  @apply absolute left-[-150px] top-0 h-full w-[150px] bg-[rgba(255,255,255,0.2)] content-[""];
  animation: loading 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes loading {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
